/* 0.15.5 */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	font-weight:200;
	background-color:#18192d;
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color:transparent !important;

}

@font-face {
    font-family:"Helvetica Neue";
    src: url("helveticaneue-webfont.ttf") /* TTF file for CSS3 browsers */
}

:focus {
    outline: none;
    -webkit-focus-ring-color:transparent;
}

div * { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight:200;
	 }
	 
select {
font-size: 12px !important;
margin-bottom: 5px;
-webkit-appearance: none;
font-family: monospace !important;
padding: 6px 10px 6px 10px;
background-color: #fff;
color: #000;
}

#netdata {
	font-family:monospace;
	font-size:11px;
}

input[type="text"] {
	font-size: 12px !important;
	font-family: monospace !important;
}

#netdata input[type="text"] {
	margin-left:5px;
	width:250px;
}


#tabs {
	width: 960px !important;
	margin:0 auto;
	background-color:#EEEEEE;
	min-height:590px;
}

#header {
	width:960px !important;
	margin:0 auto;
	text-align:center;
	color:white;
	font-size:25px;
	margin-top:40px;
}

#header h2 {
	font-weight:100 !important;
}

.azzurro {
	color: #428BCA;
}

.ui-widget-header {
	border:0px;
}

.ui-tabs .ui-tabs-nav {
margin: 0px -2px;
background-color: #EEEEEE;
width: 960px;
top: 0px;
border-bottom: solid 2px #b6b6b6;
padding-bottom: 5px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
padding-top: 8px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
/* border: 1px solid #aaaaaa; */
/* background: #ffffff 50% 50% repeat-x; */
font-weight: normal;
color: #FFFFFF;
background-color: #EEEEEE;
outline-color:#EEEEEE;
}

.ui-tabs .ui-tabs-nav li {
list-style: none;
float: left;
position: relative;
top: 0;
margin: 1px 2em 0 5px;
border: 0;
padding: 0;
white-space: nowrap;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
color: #428BCA !important;
text-decoration: none;
font-weight:400;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
color: #000;
background-color: #EEEEEE;
text-decoration: none;
font-weight:200;
}

#tabs-12 .ui-state-default, .ui-widget-content {
border: 1px solid #d3d3d3;
background: #fff 50% 50% repeat-x;
font-weight: normal;
color: #555555;
}

#tabs-12 .ui-state-default:hover {
background: #eee 50% 50% repeat-x;
}


.ui-tabs-anchor {
	font-weight:400 !important;
	font-size:14px;
}

#tabs-12 h4 {
	line-height:2px;
	color:#808080;
}

#tabs-12 h3 {
	line-height:2px;
	color:#000;
	font-size:17px;
}

.first {
	float:left;
}

.second {
margin-left: 550px;
position: relative;
top: -60px;
}

.t11 {
margin-left: 416px;
}

.second h4 {
	color:#000 !important;
	padding-bottom:0px;
}

.bottone {
position: absolute;
font-size: 14px;
height: 23px;
background-color: #418BCA;
text-align: center;
padding-top: 4px;
color: white;
top: 12px;
right: 25px;
padding-left: 15px;
padding-right: 15px;
min-width: 35px;
font-weight: 800;
}

.bottonefinal {
position: absolute;
font-size: 14px !important;
height: 27px !important;
background-color: #418BCA !important;
text-align: center !important;
padding-top: 0px !important;
color: white !important;
top: 12px !important;
right: 24px !important;
padding-left: 15px !important;
padding-right: 15px !important;
min-width: 35px !important;
font-weight: 800 !important;
}

.bottoncsv {
	left: 750px;
    height: 27px;
    border: 0px;
    font-size: 12px !important;
    padding-top: 0px;
}

.bnetwork {
	top:-84px;
	border:0;
	font-size:14px !important;
	right:5px;
	height:28px !important;
	padding-top:0px;
	background-color: #418BCA !important;
	color: white !important;
	font-weight:600 !important;
}

#tabs-11 .ui-state-default, .ui-widget-content {
border: 1px solid #d3d3d3;
background: #eeeeee 50% 50% repeat-x;
font-weight: normal;
color: #000;
}

#tabs-11 .ui-accordion-header {
	border-bottom:0px;
}

#tabs-11 h3 {
	line-height:2px;
	color:black;
	font-size:17px;
}
#tabs-11 h4 {
	line-height:2px;
	color:#808080;
}

#brandsel, #citybybrand, #numeromacchina {
	width:300px;
	margin-bottom:30px;
}

.brtext {
	margin-left:37px;
	margin-right:10px;
	font-size:13px;
}

.sttext {
	margin-left:41px;
	margin-right:11px;
	font-size:13px;
}

.mctext {
	margin-left:32px;
	margin-right:10px;
	font-size:13px;
}

.pmname {
position: absolute;
top: 235px;
left: -425px;
font-size: 13px;
width:396px;
}

.mname {
position: relative;
width: 371px !important;
height: 24px;
}

.greyed {
	background-color: #eeeeee;
	border: 0px;
	width:auto;
	height:22px;
	padding-left:1px;
}

.greyed1 {
	background-color: #eeeeee;
	border: 0px;
	width:1px !important;
	height:22px;
}

.inpal {
	width:141px;
	text-align:right;
	float:left;
	padding-top:5px;
	font-weight: 600;
	color: #8b8b8b;
}

.inp0 {
	padding-top:0px;
}

.inpaljson {
	width:135px;
	text-align:right;
	float:left;
	padding-top:5px;
}

#tabs-1 .ui-state-default, .ui-widget-content {
border: 0px solid #d3d3d3;
background: #eeeeee 50% 50% repeat-x;
font-weight: normal;
color: #000;
}

#tabs-1 .ui-accordion-header {
	border:0px;
}

#tabs-1 h3 {
	line-height: 2px;
	color: black;
	font-size: 17px;
	top: -11px;
	position: relative;
	height: 1px;
}

#tabs-1 h4 {
	line-height:2px;
	color:#808080;
}

.refresh {
	vertical-align: middle;
	margin-bottom: 5px;
	margin-left: 5px
}

.cdisp {
	margin-right:10px;
}

#selectedmode {
	position:absolute;
	width:32px;
	height:32px;
	background-image: url('selected.png');
	top:150px;
	left:160px;
	z-index:999;
}

.selectedportrait {
	top:280px !important;
	left:100px !important;
}

.selectedlandscape2 {
	top:150px !important;
	left:710px !important;
}

.selectedportrait2 {
	top:275px !important;
	left:650px !important;
}

.cmanual {
	position:relative;
	top:-15px;
	margin-left:141px;
}

.cmanual2 {
	position:relative;
	top:-6px;
	margin-left:141px;
}

.dhcpmanual {
	position:relative;
	top:-15px;
	margin-left:141px;
	padding-bottom:17px;
}

.labelrete {
	position:relative;
	top:-15px;
	margin-left:141px;
}

.pmname span {
	margin-left:100px;
}

.ui-button-text-only .ui-button-text { padding: 0 !important; font-weight:800; }

.optbuttons {
	background:white !important;
	padding-right:10px;
	padding-left:5px;
	height:50px;
}

.contbuttons {
	background:white !important;
	padding-right:10px;
	padding-left:5px;
	height:34px;
}

.optimg {
	vertical-align:middle;
	margin-right:10px;
}

#properties span {
	font-weight:200 !important;
	color:#000;
	text-transform: none;
}

#properties p {
	color:#8b8b8b;
	font-weight:600 !important;
	text-transform: uppercase;
}